*, *::after, *::before { /*pseudo selectors */
  box-sizing: border-box;
}
body {
  background-image: url("https://66.media.tumblr.com/26d0c54cf4a8e1a91b7c5c46d9280be8/0267d5abf95bcc15-3b/s1280x1920/f09dc48af715d6f13687fbda3ada8ef2cebe900e.jpg");
  position: relative;
  height: 300px;
  width: 500px;
  max-width: 80%;
  z-index: -1;

}
img.logo {
  display: block;
  position: fixed;
  top: 5%;
  left: 33%;
  width: 400px;
  max-width:70%;
  z-index: 1;
}

img.missionButton {
  display: block;
  position: fixed;
  top: 60%;
  left: 33%;
  transform: translate(5%, -20%);
  width: 80px;
  max-width: 70%;
  z-index: 2;
}
img.playButton {
  display: block;
  position: fixed;
  top: 63%;
  left: 42%;
  transform: translate(-2%, -10%);
  width: 150px;
  max-width: 70%;
  z-index: 2;
}
img.storyButton {
  display: block;
  position: fixed;
  top: 59%;
  left: 55%;
  transform: translate(0%, -10%);
  width: 80px;
  max-width: 70%;
  z-index: 2;
}
#modalButton1{
  cursor:pointer;
  border:none;
  outline:none;
  border-radius:15px;
  background:transparent;
 -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 1rem;
  font-weight: bold;
}
#modalButton1:hover {
  background:cornflowerblue;
  color:white;
  width: 7%;
}
#modalButton2{
  cursor:pointer;
  border:none;
  outline:none;
  border-radius:15px;
  background:transparent;
 -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 1rem;
  font-weight: bold;
}
#modalButton2:hover {
  background:red;
  color:white;
  width: 12.5%;
}
#modalButton3{
  cursor:pointer;
  border:none;
  outline:none;
  border-radius:15px;
  background:transparent;
 -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 1rem;
  font-weight: bold;
}
#modalButton3:hover {
  background:goldenrod;
  color:white;
  width: 7%;
}
.modal {
  position:fixed;
  color: white;
  text-shadow: 1px 1px #7b7b7b;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 3px solid white;
  border-radius: 20px;
  z-index:4;
  width:400px;
  max-width:70%;
  background-color: goldenrod;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  padding: 10px 15px;
  display:flex;
  justify-content:space-between;
  border-bottom: 4px solid white;
}
.modal-header .title {
  font-size: 1.25rem; /*relative value to font size 1rem= 16px*/
  font-weight: bold;
}
.modal-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 15px;
  background: transparent;
 -webkit-transition-duration: 0.4s; /*webkit is a rendering engine to Chrome and Safari*/
  transition-duration: 0.4s;
  font-size: 2rem;
  font-weight: bold;
}
.modal-header .close-button:hover {
  background:red;
  color:white;
}
.moday-body {
  padding: 10px 15px;
}
#overlay {
 position: fixed;
 opacity: 0;
 transition: 200ms ease-in-out; /*transition when a effect starts and ends*/
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0,0, 0,.5); /*red, green, blue, opacity*/
 pointer-events: none; /*what the pointer's going to do*/
 z-index: 3;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
span {
  color:blue;
}
#submitOutputBtn {
  cursor:pointer;
  border:none;
  outline:none;
  border-radius:5px;
  background:cornflowerblue;
}
#submitOutputBtn:hover {
  background:orangered;
}
#encodeBtn {
  color:aliceblue;
  font-weight: bold;
  cursor:pointer;
  border:none;
  outline:none;
  border-radius:5px;
  background:cornflowerblue;
}
#encodeBtn:hover {
  background:orangered;
}
#decodeBtn {
  color:aliceblue;
  font-weight: bold;
  cursor:pointer;
  border:none;
  outline:none;
  border-radius:5px;
  background:cornflowerblue;
}
#decodeBtn:hover {
  background:orangered;
}
section.outputBox{
  display: none;
}
